<!DOCTYPE html>
<html>
  <head>
    <title>Vesper</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="landing">
        <img id="title" src="/images/SiteTitle.png">
        <img id="screen" src="/images/SiteScreen.png">
        <img id="abutton" src="/images/SiteButton.png">
        <div id="description">
        <h2>Vesper</h2>
        <p>
          Vesper is an android game in which you control a bat named vesper with the goal of guiding him through the winding levels ahead, collecting coins and fruit for upgrades and score along the way.
          At the moment the game consists of 10 levels, 9 normal levels and a boss fight, with more levels and boss fights planned for future updates.
          The game also has a store for character upgrades such as speed and turn speed which you buy with the coins you collect throughout the levels, buy with real life money or earn by watching ads, the store also has a few cosmetic character customization options these options are also planned to be increased in future updates.
          
          Each of the game worlds has it's own musical flavor to it, the only world available to players on release is World1 and it's all about classical music.
          
          Vesper has access to a powerful blast ability which is used frequently on some obstacles in order to clear the way ahead or grab some extra fruit or coins, this ability is also useful during boss fights and it can be upgraded and customized through the in-game store.
          
          Vesper can also use a boost power-up at certain points throughout the levels.
          
          Dotted across some levels are portals that teleport the Vesper around the level, basically speedy bat goes in, speedy bat comes out, just be careful and don't always go for the nearest one.
          
          The game uses single touch controls for movement, and a button for firing blasts.
          
          The game is planned to be released on IOS in the near future.
          
          Vesper was developed by Amateur Hour games, an indie game studio based in Fairfield, Iowa.
        </p>
      </div>
    </div>
    <div id="trailer">
      <h2>Watch the trailer!</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/5xF5bAGUho0?si=RJZCo2MqS1lzdTTT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div id="shots">
      <div id="pic">
        <img src="/images/_0000_Unlockables--&-Customization!.png">
        <h2>Customize your experience!</h2>
      </div>
      <div id="pic">
        <img src="/images/_0001_Epic-Boss-Battles!.png">
        <h2>Epic boss battles!</h2>
      </div>
      <div id="pic">
        <img src="/images/_0002_Cool-Upgrades!.png">
        <h2>Cool upgrades!</h2>
      </div>
      <div id="pic">
        <img src="/images/_0003_Character-Skins!.png">
        <h2>Unlock new characters!</h2>
      </div>
      <div id="pic">
        <img src="/images/_0004_Goodies-Galore!.png">
        <h2>Goodies galore!</h2>
      </div>
      <div id="pic">
        <img src="/images/_0005_Varied-Obstacles!.png">
        <h2>Beat the obstacles!</h2>
      </div>
      <div id="pic">
        <img src="/images/_0006_Challanging-Levels!.png">
        <h2>Challenging levels!</h2>
      </div>
    </div>
    <div id="footer">
      <a href="/privacy">Privacy Policy</a>
      <h4>Copyright 2023 Amateur Hour Games</h4>
    </div>
  </body>
</html>
