<!DOCTYPE html>
<html>
  <head>
    <title>Vesper</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="privacy">
      <h2>Privacy Policy</h2>
      <p>Privacy Policy for Vesper

        Last Updated: September 12th, 2023
        
        Amateur Hour Games ("we", "us", "our") is committed to protecting your privacy. This Privacy Policy outlines our practices regarding the collection, use, and disclosure of personal information when you use our mobile application, Vesper ("the App").
        
        By using the App, you agree to the terms of this Privacy Policy. If you do not agree with our practices, please do not use the App.
        
        Information We Collect
        1. Personal Information
        We may collect and store the following personal information:
        
        In-App Purchases: When you make in-app purchases, the payment information, such as your name, email address, and payment details, may be collected by the respective app stores (e.g., Google Play Store or Apple App Store). We do not store this payment information on our servers.
        2. Non-Personal Information
        We may collect non-personal information that does not directly identify you, including:
        
        Device Information: Information about your device, such as device type, operating system version, and unique device identifiers.
        Usage Information: Data about how you interact with the App, including but not limited to the features you use, the duration of your usage, and your interactions with ads.
        Ad identifiers: We may collect advertising identifiers (e.g., Google Advertising ID) for the purpose of serving personalized ads.
        Location Information: If you grant us access, we may collect your device's location for specific features within the App.
        How We Use Your Information
        We may use your information for the following purposes:
        
        In-App Purchases: To process and fulfill your in-app purchases.
        Ads: To provide you with personalized advertisements, including banner, interstitial, and rewarded ads.
        Analytics: To analyze user behavior and app performance, helping us improve the App.
        Leaderboards: To display your username and achievements on leaderboards if you choose to participate.
        Third-Party Services
        We may use third-party services to assist in providing and analyzing the App. These third parties may have access to your information as required to perform these tasks but are prohibited from using it for any other purpose.
        
        Security
        We take reasonable measures to protect your personal information, but no method of transmission over the internet or electronic storage is completely secure. We cannot guarantee the security of your data.
        
        Your Choices
        Opting Out: You can opt out of personalized ads by adjusting your device settings.
        Location: You can disable location services for the App in your device settings.
        Data Access and Deletion: You may request access to your data or its deletion by contacting us.
        Changes to this Privacy Policy
        We may update this Privacy Policy as necessary. Any changes will be posted here, and the revised date will be updated accordingly.
        
        Contact Us
        If you have any questions or concerns about this Privacy Policy or the App, please contact us at mgameal@gmail.com.
        
        </p>
    </div>
    <div id="footer">
      <h4>Copyright 2023 Amateur Hour Games</h4>
    </div>
  </body>
</html>
