body{
  background-image: url("/images/SiteBackGround.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;

  text-align: center;
  text-shadow: 2px 2px rgba(128, 0, 128, 0.8);;
  font-family: cursive;
  color: white;
}

#landing{
  display: grid;
  grid-template-areas:  's t'
                        's t'
                        's a'
                        'd d';
  border-bottom-style: dotted;
  border-bottom-color: rgba(128, 0, 128, 0.1);;
  border-bottom-width: 20px;
}

#title{
  grid-area: t;
  padding: 5%;
}
#screen{
  grid-area: s;
  padding: 5%;
}
#abutton{
  grid-area: a;
  padding: 5%;
}
#description{
  border-top-width: 5px;
  grid-area: d;
  font-size: x-large;
  padding: 5%;
}

#description > h2{
  text-align: center;
}

#trailer{
  border-bottom-style: dotted;
  border-bottom-color: rgba(128, 0, 128, 0.1);;
  border-bottom-width: 20px;
}
div{
  padding: 2%;
}

#shots{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  border-bottom-style: dotted;
  border-bottom-color: rgba(128, 0, 128, 0.5);;
  border-bottom-width: 5px;
}
#pic > img{
  width: 180px;
}

#pic{
  background-color: rgba(128, 0, 128, 0.05);
  border-radius: 5%;
  margin: 2%;
}
@media (pointer:none), (pointer:coarse) {
  #landing{
    display: flex;
    flex-direction: column;
    border-bottom-style: dotted;
    border-bottom-color: rgba(128, 0, 128, 0.1);;
    border-bottom-width: 20px;
}
#pic > img{
  width: 512px;
}
}